html,body{
    margin : 0px;
    padding : 0px;
    font-family :'Times New Roman', Times, serif;
    width : 100vw;
    height : 100vh;
}

.main{
    background-color: rgb(5, 5, 51);
    display : flex;
    flex-direction: column;
    min-height : 100vh;
}

.header{
    display : flex;
    justify-content: space-between;
    border-bottom : 1px solid grey;
}

.header-heading{
    padding-left : 1rem;
    font-weight: bold;
    font-size : 1.5rem;
    color :rgb(36, 80, 200)
}

.header-links{
    display : flex;
    list-style: none;
    gap : 1rem;
    padding-right : 1rem;
    font-size: 1.5rem;
    color : rgb(158, 155, 155);
}

.link-items a{
  text-decoration : none;
  color : inherit;
}

.link-items:hover{
    color : white;
    cursor : pointer;
}

.main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top : 6rem;
}

.main-content h1{
    font-size : 3rem;
    color : white;
}

.main-content h3{
    margin-top : -1.2rem;
    font-size : 1.2rem;
    color : rgb(158, 155, 155);
}

.main-btns{
    display : flex;
    gap : 2rem;
    cursor: pointer;
}

.main-btns a{
    text-decoration: none;
    color : inherit;
    padding : 10px 20px 10px 20px;
    border-radius: 15px;
    font-weight : 500;
}

.learn-more-btn{
    background-color: aqua;
}

.contact-btn{
    background-color: rgb(220, 220, 178);
}